[Desktop Entry]
Name=R
Comment=Language for interactive analysis of statistical data
Comment[pl]=Język do interaktywnej analizy danych statystycznych
Icon=R
Exec=R
Terminal=true
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
