[Desktop Entry]
Name=R
Comment=Language for interactive analysis of statistical data
Comment[pl]=Język do interaktywnej analizy danych statystycznych
Icon=
Exec=R
Terminal=true
Type=Application
# vi: encoding=utf-8
